.Item {
  width: 420px;
  height: 260px;
  padding: 10px 10px 1px;
  margin: 20px 20px 10px 20px;

  background: #000000;
}

.Item h3 {
  display: table-cell;
  width: 430px;
  height: 210px;
  margin: 0 auto;

  font-weight: normal;
  font-size: 140%;
  text-align: center;
  vertical-align: middle;
}

.Item h3 a {
  color: #ffffff;
}

.Item iframe {
  display: block;
  width: 440px;
  height: 210px;
  margin: 0 auto;

  border: none;
}

.Item-views {
  margin: 6px 0 0 0;

  font-size: 80%;
  text-align: right;

  color: #cccccc;
}
